:root {
    --primary-color: rgba(39, 66, 218, 0.76);
    --secondary-color: rgba(206, 222, 255, 0.822);

    --correct-primary-color: rgba(25, 122, 74, 0.76);
    --correct-secondary-color: rgba(117, 224, 171, 0.76);

    --incorrect-primary-color: rgba(122, 25, 25, 0.76);
    --incorrect-secondary-color: rgba(224, 117, 117, 0.76);
}


html {
    font-family: sans-serif;
}

.flex-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 50px;
    margin: 20px;
    color: var(--primary-color);
    border: 2px solid;
}

.random-numbers {
    background-color: var(--secondary-color);
    border: 2px solid;
    font-size: 36px;
    font-weight: bold;
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    color: var(--correct-primary-color);
    background-color: var(--correct-secondary-color);
}

.incorrect {
    color: var(--incorrect-primary-color);
    background-color: var(--incorrect-secondary-color);
}

.final-score {
    text-align: center;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.original-numbers {
    text-align: center;
    font-size: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.button {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 26px;
    border-radius: 30px;
    border: 2px solid;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    transition: 200ms all;
    cursor: pointer;
}

.button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}